/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
    body {
        background-color: silver
    }

    #container {
        max-width: 1000px;
        margin: auto;
    }

    nav {
        float: left;
        width: 25%;
    }

    main {
        float: left;
        width: 75%;
    }

    footer {
        clear: both;
    }
}