* {
    box-sizing: border-box;
}

header {
    background-color: pink;
    padding: 20px 0px;
    text-align: center;
}

body {
    background-color: silver;
}

.block1 {
    background-color: violet;
    width: 1000px;
    margin: auto;
}

nav {
    background-color: rgb(204, 139, 150);
    width: 20%;
    float: left;
    min-height: 1450px;
}

main {
    background-color: beige;
    min-height: 900px;
    width: 80%;
    float: left;
    padding: 10px 20px;

}

.card {
    display: inline-block;
    margin: 0 10px;
}

footer {
    background-color: brown;
    height: 35px;
    clear: both;
    text-align: center;
}

menu li {
    list-style: none;
    margin: 10px 10px;
    font-size: 1em;
}

.card1 img {
    float: left;
    width: 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin: 10px auto;
}

.card2 img {
    float: left;
    width: 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin: 10px auto;
}

.card3 img {
    float: left;
    width: 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin: 10px auto;
}

/* Mobile ucun */
@media (max-width: 768px) {
    .card .card1 {
        width: 50%;
    }

    .card .card2 {
        width: 50%;
    }

    .card .card3 {
        width: 50%;
    }

    .card {
        width: 80%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        text-align: center;
    }

    menu {
        display: flex;
        /* bu eyni tarazligi olmasi ucundu-ortaladi */
        align-items: center;
        justify-content: space-between;
    }

    main {
        text-align: justify;
    }
}