header {
    background: linear-gradient(to bottom, #d8d8d8, #fff, #fff, #fff);
    text-align: center;
    padding: 37px 0 24px 0;
}

#logo>img {
    max-width: 29%
}

menu li {
    font: .7em Tahoma;
    color: #b7b7b7;
}

menu li a {
    display: block;
    font: 700 .9rem Georgia;
    text-transform: uppercase;
    color: #666;
}

main {
    background: #fff url('mainbg.jpg') repeat-x;
    padding: 20px 0 0 0;
}

#slider {
    height: 343px;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    background: url('slider1.jpg') center/cover;
}

h1 {
    font: bold 1.5em Georgia;
    color: #000;
    text-align: center;
    padding: 1em 0;
}

hr {
    border: none;
    border-top: 1px solid #e5e5e5;
}

.row {
    padding: 24px 0
}

.col {
    padding: 12px 10px
}

footer {
    height: 183px;
    background: #333;
    border-top: 10px solid #4c4c4c;
}

/*  D E S K T O P   V E R S I O N  */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 1000px;
        margin: auto;
    }

    header {
        text-align: initial
    }

    menu {
        float: right;
        padding: 18px 0 0 0;
    }

    menu li {
        display: inline-block;
        border-left: 1px solid #d6d6d6;
        padding: 0 8px 8px 8px;
    }

    /* .row { overflow: auto; } */
    .row::after {
        display: table;
        content: '';
        clear: both;
    }

    .col {
        width: 33.33%;
        float: left;
    }
}