body {
    background-color: #003f7d;
}

.block1 {
    background-color: white;
    width: 700px;
    height: 600px;
    margin: 25px auto;
    border-radius: 10px;

}

.block2 {
    text-align: center;
    color: white;
    background-color: #053364;
    border-radius: 10px;
}

.txt {
    padding: 0px;
}

.txt h3 {
    color: #003f7d;
    font: bold 1.em Arial, Helvetica, sans-serif;
}

.block3 {
    background-color: #053456;
    color: white;
    text-align: center;
    width: 150px;
    margin: 10px auto;
    padding: 1px;
    border-radius: 10px;
}

.block4 {
    background-color: #053456;
    color: white;
    text-align: center;
    width: 150px;
    margin: 10px auto;
    padding: 1px;
    border-radius: 10px;
}