body {
    text-align: center;
}

.block1 {
    height: 150px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 50px;
}

.block2 {
    height: 150px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 50px;
}

.block3 {
    height: 150px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 50px;
}

.block4 {
    height: 150px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 50px;
}