.block1 img {
    width: 100%;
    height: 200px;
}

.block1 {
    height: 350px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 10px;
    margin: 15px;
}

.block2 img {
    width: 100%;
    height: 200px;
}

.block2 {
    height: 350px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 10px;
    margin: 15px;
}

.block3 img {
    width: 100%;
    height: 200px;
}

.block3 {
    height: 350px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 10px;
    margin: 15px;
}

.block4 img {
    width: 100%;
    height: 200px;
}

.block4 {
    height: 350px;
    border-radius: 10px;
    border: solid black 1px;
    width: 200px;
    padding: 10px;
    margin: 15px;
}