body {
    background-color: #8a2be1;
}

.back {
    background-color: white;
}

.block1 {
    background-color: red;
    width: 30px;
}

.block2 {
    background-color: red;
}

.block3 {
    background-color: blue;
}

.block4 {
    background-color: blue;
}

.block5 {
    background-color: red;
}

.block6 {
    background-color: blue;
}

.block7 {
    background-color: red;
}

.block8 {
    background-color: red;
}

.block9 {
    background-color: blue;
}

.block10 {
    background-color: blue;
}

.block11 {
    background-color: red;
}